<nz-layout>
    <nz-header style="display: flex; justify-content: space-between; align-items: center; padding: 0 24px;">
        <!-- Left: Logo -->
        <div style="display: flex; align-items: center;">
            <h2 style="margin: 0; color: #278625;">HR Nest</h2>
        </div>

        <!-- Center: Search -->
        <div style="flex: 1; display: flex; justify-content: center;">
            <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 500px;">
                <input type="text" nz-input placeholder="Global Search" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <nz-icon nzType="search"></nz-icon>
            </ng-template>
        </div>

        <!-- Right: User Info + Buttons -->
        <div style="display: flex; align-items: center; gap: 12px;">
            <div *ngIf="isAuthenticated" style="display: flex; align-items: center; gap: 12px;">
                <span style="font-weight: 500;">{{ fullName }}</span>
                <!-- <button nz-button nzType="primary" nzIcon="logout" nzDanger="true" (click)="logout()">Logout</button> -->
                <button nz-button nzDanger nzShape="round" (click)="logout()">
                    <nz-icon nzType="logout" />
                </button>
            </div>
            <button *ngIf="!isAuthenticated" nz-button nzType="primary" (click)="login()">Login</button>
        </div>
    </nz-header>

</nz-layout>


<router-outlet *ngIf="isAuthenticated"></router-outlet>