<nz-layout>
    <nz-header style="display: flex; justify-content: space-between; align-items: center; padding: 0 12px;">

        <div style="display: flex; align-items: center;">
            <h2 style="margin: 0; color: #278625;">HR Nest</h2>
        </div>

        <div style="display: flex; align-items: center; gap: 12px;">
            <div *ngIf="isAuthenticated" style="display: flex; align-items: center; gap: 12px;">
                <span style="font-weight: 500;">{{ fullName }}</span>
                <button nz-button nzDanger nzType="primary" (click)="logout()">
                    <nz-icon nzType="logout" />

                </button>
            </div>
            <button *ngIf="!isAuthenticated" nz-button nzType="primary" (click)="login()">
                <nz-icon nzType="login" />

                Login</button>
        </div>
    </nz-header>

</nz-layout>


<router-outlet *ngIf="isAuthenticated"></router-outlet>